# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
.myenv
env/
venv/
ENV/
myenv/


# IDE / Editor specific files
.idea/
.vscode/
*.swp
*~
.DS_Store
btg_app.log
config.json
배치 번역기.spec
btg_app.log.1
/test
btg_app.log.5
.__btg_app.lock
btg_app.log.2
btg_app.log.3
배치_번역기.spec
btg_app.log.\d+
gen-lang-client-0390376538-c7594c7326a2.json
gemini-api-3-476202-3ca90c673e7f.json
/prompt_libaray
*.log
.\d+
/logs
LBI-0.35.0-pre21.js
GITHUB_COPILOT_FLOW.md
48개_api.zip
TRANSLATION_QUALITY_CHECK_STRATEGY.md
