# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
.myenv
env/
venv/
ENV/
myenv/


# IDE / Editor specific files
.idea/
.vscode/
*.swp
*~
.DS_Store

config.json
배치 번역기.spec

/test

배치_번역기.spec

gen-lang-client-0390376538-c7594c7326a2.json
gemini-api-3-476202-3ca90c673e7f.json
/prompt_libaray
*.log
.\d+
/logs

48개_api.zip
/docs
main_gui_backup.py

